<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
       <app-header></app-header>
      </div>
      
     <div class="nav-left-sidebar sidebar-dark">
          <app-menu></app-menu>
      </div>
     
      <div class="dashboard-wrapper">
          <div class="container-fluid  dashboard-content">
             
              <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="page-header">
                          <h2 class="pageheader-title">Thank for Logged in {{first}} </h2>
                          <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                          <div class="page-breadcrumb">
                              user login
                          </div>
                      </div>
                  </div>
              </div>
              
             
             
          </div>
          <!-- ============================================================== -->
          <!-- footer -->
          <!-- ============================================================== -->
          <div class="footer">
              <app-footer></app-footer>
          </div>
         
      </div>
   </div>
   